/* --- 1. MOBILE STYLES (Default) --- */
:root {
  --btn-color:#0d6efd;
}


body {
  text-align: center;
}

nav {
  display: grid;
  grid-template-columns: 4fr 1fr;
  padding: 10px 0;
  border-bottom: 1px solid gold;
}

#projects-display {
  display: flex; 
  flex-direction: row; 
  align-items: center; 
  gap: 12px;   
}


#project-name {
  margin: 0;    
  padding: 0;
  display: inline;
  font-size: 1.2rem;
  text-align: left;
}

#container-header {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  width: 90%;   
  margin: 1.5rem auto;
}

#newTask-creation {
  padding: 10px 30px;
  border-radius: 10px;
  border: 1px solid #ddd;
  background: #f9f9f9;
  max-width: 100%;
  width:330px;
  box-sizing: border-box;
  position: relative;

}

#newTask-form {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
}

#newTask-form div {
  padding: 5px 0;
  text-align: left;
  display: flex;
  flex-direction: column;
}

#newTask-form label {
    margin-bottom: 6px;
    font-weight: 500;
    color: #333;
}

#newTask-form input,
#newTask-form textarea,
#newTask-form select {
    width: 100%;
    box-sizing: border-box;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;

}

#newTask-form button {
align-self: center;
width: 100%;
max-width: 200px;
padding: 10px;
border: none;
border-radius: 5px;
background-color: var(--btn-color);
color: white;
margin-top: 10px;
}

#newTask-form button.closeTask-btn {
  position: absolute;
  top: 8px; 
  right: 8px;  
  

  width: 20px;
  height: 20px;
  max-width: 20px;
  
  padding: 0;
  margin: 0; 
  display: flex;
  align-items: center;
  justify-content: center;
  
  line-height: 1;
  font-size: 12px;
}

h2 {
  text-align: center;
  margin-top: 1rem;
  color: #333;
}



.hidden {
    display: none !important;
}

.todo-header {
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 0;
}

.todo-status {
  position:absolute;
  right: 0;
  top: 0;
    display: flex;
    align-items: flex-end;
    gap: 0.5rem;
}